body {
  background-color: black;
  color: white;
  font-family: "Jost", sans-serif;
  margin: 0; }

.white-background * {
  background-color: white;
  color: black; }

li a {
  font-size: 1.6vw;
  color: white;
  text-decoration: none; }

nav * {
  color: white;
  z-index: 0; }

.logo {
  width: 10vw;
  text-align: center;
  margin-block-start: 1em;
  margin-block-end: 1em; }

/* nav {
  width: 72%;
  margin-block-start: 1em;
  margin-block-end: 1em;
  padding-right: 0;
} */
#loginButton {
  padding-left: 2.6vw;
  margin-block-start: 1em;
  margin-block-end: 1em; }

#loginButton a > * {
  vertical-align: middle;
  display: inline-block;
  padding-left: 2px; }

nav ul li {
  list-style: none;
  font-weight: bold;
  display: inline;
  margin: 0px 3%; }

/*footer*/
footer {
  margin-top: auto;
  display: flex;
  justify-content: center;
  padding-left: 5%;
  padding-bottom: 3%;
  column-gap: 20vw; }

footer {
  vertical-align: middle;
  padding-inline-end: 3%; }

.sitemap ul {
  display: inline-block;
  vertical-align: top;
  padding-inline-end: 3%;
  list-style: none; }

.sitemap ul li a {
  font-size: 0.9em;
  font-weight: 400;
  color: #b4a6a6; }

.socialMedia {
  display: flex;
  justify-content: center;
  align-items: center; }
  .socialMedia a {
    flex: 1; }
  .socialMedia a > svg {
    display: block;
    height: auto;
    width: 100%; }

.author {
  width: 20%;
  margin-top: auto; }

.author a {
  font-size: 0.8rem;
  color: white; }

@media screen and (max-width: 480px) {
  footer {
    display: block; }
    footer > * {
      margin-bottom: 2rem; }
  .sitemap {
    margin-top: 1rem;
    display: flex;
    justify-content: center; }
  .socialMedia {
    column-gap: 10vw;
    width: 80%;
    margin-inline: auto; }
  .author {
    margin-inline: auto;
    width: fit-content; } }

.banner {
  /* The image used */
  background: url("../img/pexels-tima-miroshnichenko-7991158.jpg") black;
  background-color: grey;
  background-blend-mode: multiply;
  /* Set a specific height */
  height: 80%;
  min-width: 100%;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 25%;
  padding-bottom: 12%; }
  .banner__content {
    display: block;
    padding-left: 5%; }
    @media screen and (max-width: 480px) {
      .banner__content * {
        margin-top: 1em;
        display: block;
        margin: auto;
        text-align: center; }
      .banner__content button {
        margin-top: 1.5em; } }
    .banner__content * {
      margin-top: 1.3rem; }

/* #banner__content *{
      display: flex;
      align-self: center;
  } */
/* 
  .banner h1,h3{
      margin-block-end: 0;
      margin-block-start: 0;
  } */
/* .banner h1{
      font-size: 4em;
  }
  .banner h3{
      font-size: 2.3em;
  } */
.arrowButton {
  margin-top: 2%;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem; }

/*Features*/
.featuresBanners {
  background-color: black;
  padding-top: 0;
  margin-top: 0; }

.featuresBanner {
  margin-top: 5%;
  display: flex;
  justify-items: center;
  align-items: flex-start;
  gap: 3vw; }
  .featuresBanner__img {
    flex: 1; }
    .featuresBanner__img img {
      width: 100%; }
  .featuresBanner__text {
    width: 59%; }
    .featuresBanner__text-title svg {
      display: none; }
    .featuresBanner__text-title h4 {
      font-size: clamp(1rem, 1.8vw, 4rem);
      font-weight: bold; }
    .featuresBanner__text p {
      font-size: clamp(1rem, 1.6vw, 4rem); }
    .featuresBanner__text-content-storeBadges {
      display: flex;
      padding-right: 40%;
      justify-content: start; }
      .featuresBanner__text-content-storeBadges-badge_google {
        flex: 2.58; }
      .featuresBanner__text-content-storeBadges-badge_appStore {
        flex: 2.02;
        display: flex; }
      .featuresBanner__text-content-storeBadges > a > img {
        display: block;
        height: auto;
        width: 100%;
        background-blend-mode: multiply; }

@media screen and (max-width: 480px) {
  .featuresBanners {
    margin-block: 5vh; }
  .featuresBanner {
    display: block;
    margin-top: 10%;
    margin-bottom: 4rem;
    position: relative;
    height: fit-content; }
    .featuresBanner__img {
      width: 100%;
      display: block;
      z-index: 1; }
    .featuresBanner__text {
      background: black;
      background: linear-gradient(180deg, black 7%, rgba(255, 255, 255, 0) 27%, rgba(255, 255, 255, 0) 100%);
      padding-top: 5%;
      padding-left: 5%;
      padding-right: 5%;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 2; }
      .featuresBanner__text-title {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        vertical-align: middle;
        height: calc(2.5rem + .3vw);
        z-index: 3; }
        .featuresBanner__text-title h4, .featuresBanner__text-title svg {
          display: flex;
          flex-direction: column; }
        .featuresBanner__text-title h4 {
          margin-right: auto;
          align-self: flex-start;
          margin-block-end: 0;
          margin-top: auto;
          margin-bottom: auto; }
        .featuresBanner__text-title svg {
          margin-left: auto;
          align-self: flex-end;
          height: 100%;
          transform: rotate(0deg);
          transition: transform 0.125s linear; }
        .featuresBanner__text-title .rotatedArrow {
          transform: rotate(90deg);
          transition: transform 0.125s linear; }
      .featuresBanner__text-content-storeBadges {
        padding-inline: 5%;
        justify-content: center; }
      .featuresBanner__text .collapsedText {
        display: none; }
    .featuresBanner .expandedText {
      background-color: #000000;
      border-color: #000000;
      height: 100%;
      margin-bottom: 1vh; }
      .featuresBanner .expandedText .featuresBanner__img {
        display: none; }
      .featuresBanner .expandedText .featuresBanner__text-content {
        display: block;
        height: 100%; } }

.planSelect {
  width: 100%;
  background-color: white; }
  .planSelect * {
    display: block;
    margin: auto; }
  .planSelect h1 {
    text-align: center;
    color: black;
    margin-bottom: 3%; }

/* SUBSCRIPCIONES*/
.subscription {
  background-color: white;
  width: 100%;
  min-height: 80vh;
  color: black; }
  .subscription__title {
    margin-bottom: 4rem; }
    .subscription__title h1 {
      font-size: clamp(3.6rem, 1.8vw, 4rem); }
    .subscription__title h3 {
      font-size: clamp(2.1rem, 1.8vw, 4rem); }

.errorPage {
  background-color: white;
  width: 100%;
  min-height: 80vh;
  color: black; }

.contactPageContent {
  background-color: white;
  width: 100%;
  min-height: 80vh;
  color: black; }

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column; }

body > * {
  padding: 5%; }

header {
  padding: 0.1vh;
  background-color: rgba(0, 0, 0, 0.979);
  position: sticky;
  top: 0;
  z-index: 10; }

article {
  margin: auto 0; }

article h2 {
  margin-top: 5%;
  display: inline-block;
  width: 100%;
  color: white;
  text-align: center; }
