body {
  background-color: black;
  color: white;
  font-family: "Jost", sans-serif;
  margin: 0;
}

.white-background *{
    background-color: white;
    color: black;
}
header {
  background-color: rgba(0, 0, 0, 0.979);
  position: sticky;
  top: 0;
}
main{
    margin-block-start: 0;
}

 nav *{
    color: white;
    z-index: 0;
} 
.logo {
  width: 10vw;
  text-align: center;
  margin-block-start: 1em;
  margin-block-end: 1em;
}

/* nav {
  width: 72%;
  margin-block-start: 1em;
  margin-block-end: 1em;
  padding-right: 0;
} */

#loginButton{
    padding-left: 2.6vw;
    margin-block-start: 1em;
    margin-block-end: 1em;
}

#loginButton a >*{
    vertical-align: middle;
   display: inline-block;
   padding-left: 2px;
}

nav ul li {
  list-style: none;
  font-weight: bold;
  display: inline;
  margin: 0px 3%;
}

li a {
  font-size: 1.6vw;
  color: white;
  text-decoration: none;
}

main > *{
    padding: 5%;
    background-color:white;
}
/*banner*/
.banner {
  
  /* The image used */
  background: url("../img/pexels-tima-miroshnichenko-7991158.jpg") black;
  background-color: grey;
  background-blend-mode: multiply;
  
  /* Set a specific height */
  height: 80%;
  min-width: 100%;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
  padding-top: 25%;
  padding-bottom: 12%;
}

#banner__content{
    padding-left: 5%;
}


/* 
.banner h1,h3{
    margin-block-end: 0;
    margin-block-start: 0;
} */
/* .banner h1{
    font-size: 4em;
}
.banner h3{
    font-size: 2.3em;
} */

.arrowButton{
    margin-top: 2%;
    padding-top: 0.5rem ;
    padding-bottom: 0.5rem ;
}
/*Features*/


.storeBadges {
  display: inline-block;
  border-radius: 13px;
  width: 150px;
  height: 60px;
}
.featuresBanners{
    background-color: black;
    padding-top: 0;
    margin-top: 0;
}
.featuresBanner{
    display: flex;
    justify-items: center;
    gap: 3vw;
}

.featuresBanner__img {
    display: inline-block;
    vertical-align: middle;
    width: 40%;
    height: auto;
  }

.featuresBanner__text{
    display: inline-block;
    vertical-align: middle;
    width: 59%;
}

.featuresBanner__text, .featuresBanner__img{
    padding-top: 10%;
}
@media screen and (max-width: 480px) {
    .featuresBanner{
        display: block;
        padding-top: 20%;
    }
    .featuresBanner__img, .featuresBanner__text{
        width: 100%;
        display: block;
    }
  }
/*.featuresBanner img{
    width: 30%;
    height: auto;
    overflow: hidden;
}*/
.storeBadges img{
    width: 100%;
    height: auto;
}
.planSelect > *{
    display: block;
    margin: auto;
}
.planSelect h1{
    text-align: center;
    color: black;
    margin-bottom: 3%;
}

/*footer*/

footer{
    position: relative;
    bottom: 0;
    padding-left: 5%;
    padding-bottom: 3%;
}
footer > *{
    display: inline-block;
    vertical-align: middle;
    padding-inline-end: 3%;
}
.sitemap{
    width: 40%;
}

.sitemap ul{
    display: inline-block;
    vertical-align: top;
    padding-inline-end: 3%;
    list-style: none;
}

.sitemap ul li a{
    font-size: 0.9em;
    font-weight: 400;
    color: rgb(107, 95, 95);
}
.socialMedia{
    width: 25%;
    vertical-align: middle;
}
.author{
    width: 20%;
}
.author p{
    font-size: 0.8rem;
}

svg{
    display: inline-block;
    padding-inline-end: 2rem;
    height: auto;
    width: 3vw;
}

/* SUBSCRIPCIONES*/
.subscription__title > *{
    display: block;
    margin-block-end: 0px;
}

.subscription__title h1{
    font-size: 5em;
}
.subscription__title h3{
    font-size: 3em;
}

.subscription-card{
    display: inline-block;
    
    margin: 0px 3%;
    width: 25vw;
    height: 40vh;
    margin: auto;
    border-width: 4px;
    border-color: black;
    border-radius: 50;
}