body {
    background-color: black;
    color: white;
    font-family: "Jost", sans-serif;
    margin: 0;
  }
  
  .white-background *{
      background-color: white;
      color: black;
  }

    
  li a {
    font-size: 1.6vw;
    color: white;
    text-decoration: none;
  }

@mixin mainContentWhite{
  background-color: white;
    width: 100%;
    min-height: 80vh;
    color: black;
}