
  @import 'globals.scss';
  @import 'components/navbar.scss';
  @import 'components/footer.scss';
  @import 'views/landingContent.scss';
  @import 'views/subscriptionContent.scss';
  @import 'views/errorPageContent.scss';
  @import 'views/contactPageContent.scss';

  body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  } 
  
  body > * {
      padding: 5%;
  } 

  header {
    padding: 0.1vh;
    background-color: rgba(0, 0, 0, 0.979);
    position: sticky;
    top: 0;
    z-index: 10;
  }

  article {
    
    margin: auto 0;
  }

  article h2{
    margin-top: 5%;
    display:inline-block;
    width: 100%;
    color: white;
    text-align: center;

  }

 
 
  
